.logox{
    width: 200px;
    height: 80px;
    margin-left: 10px;
}
body{
    background-color:rgb(226, 17, 17) ;
}




.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

 .imagediv1{
    height: 400px;
    background-color: rgb(255, 5, 5);

 }
 .imagediv2{
    height: 400px;
    background-color: rgb(238, 238, 238);

 }


 .imagediv{
    
     height: 400px;
     background-color: rgb(255, 255, 255);
 }
 .imagecontainer{
     margin-left: 50px;
 }
 .imagex{
     margin-left: 150px;
     margin-top: 25px;
     width: 800px;
     height: 350px;
 }



body{
     
     
     
     background-repeat: no-repeat;

}


.menuesx{
    right: 60px;
    margin-left: 800px;

}

.signinx{
    color: rgb(255, 255, 255);
    padding: 3px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    border: solid 1px rgb(47, 151, 47);
    background-color: rgb(47, 151, 47);
    width: 150px;
    padding-left: 25px;
    border-radius: 25px;
    

    
}
.signinx:hover{
    color: rgb(255, 255, 255);
    border: solid 1px rgb(238, 84, 84) ;
    text-decoration: none;
    background-color: rgb(238, 84, 84);
    transition: .4s;
    
    

}


/* .textcol1{
    height: 200px;
    background-color: blue;
}
.textcol1{
    height: 200px;
    background-color: blue;

} */
